@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.img-1{
  transition: all 5s ease-in-out;
}
.img-1:hover{
scale: 1.25;
transition: all 5s ease-in-out;
}
.btn{
  transition: 300ms;
}
.img{
  transition: 1.25s;
}